[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-restful = "*"
flask-sqlalchemy = "*"
lxml = "*"
pandas = "*"
flask-cors = "*"
flask-session = "*"
redis = "*"
pyjwt = "*"
flask-migrate = "*"
gunicorn = "*"
requests = "*"
psycopg2-binary = "*"
pytest = "*"
pytest-flask = "*"
fakeredis = "*"
httpx = "*"
flask = {extras = ["async"], version = "*"}
asgiref = "*"
flask-compress = "*"
nest-asyncio = "*"

[dev-packages]

[requires]
python_version = "3.9"
