[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
spotipy = "*"
flask = "*"
flask-restful = "*"
flask-sqlalchemy = "*"
lxml = "*"
pandas = "*"
flask-cors = "*"
flask-session = "*"
redis = "*"
pyjwt = "*"

[dev-packages]

[requires]
python_version = "3.9"
