/* #region Google Fonts Imports */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
/* #endregion */

/* #region General */
:root {
    --black-color: #1B1B1B;
    --white-color: #E9E9E9;
    --gradient-color: linear-gradient(180deg, #274AA6 0%, #9B19A7 45.83%, #DC3636 100%);

    --font-primary: 'Space Grotesk', sans-serif;
    
    --font-primary-size: 5rem;
    --font-primary-weight: 700;
    --font-secondary-weight: 400;

    --side-padding: 10vw;
    --button-sizing: 50px;
    --button-radius: 15px;

    --dropdown-radius:
}
.view-container {
    width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4em 0px;
}
.section-title {
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--white-color);
    font-family: var(--font-primary);
    line-height: normal;
    padding: 0.5em 0px;
}
a {
    text-decoration: none;
}
.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: scroll;
}
/* #endregion */

/* #region Header */
.header {
    height: 50px;
    display: flex;
    justify-content: center;
    width: 100%;
}
.header img {
    width: 50px;
    height: auto;
}
.header-hover-container > img {
    width: 100% !important;
    height: 100% !important;
    position: absolute;
    opacity: 1;
}
.header-hover-container > svg {
    padding: 7px;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.05s;
}
.header-hover-container:hover > svg {
    opacity: 0.9;
}
.header-hover-container:hover > img {
    opacity: 0.7;
}
.header-hover-container {
    width: 50px;
    height: 50px;
    position: relative;
}
/* #endregion */

/* #region Search */
.song-select-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 250px;
}
.song-select {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-bottom: 1em;
}
.song-search-bar {
    display: inline-flex;
    align-items: center;

    position: relative;
    height: 40px;

    background-color: rgba(0, 0, 0, 0.35);
    border: 1px solid black;
    border-radius: 50rem;
    -webkit-border-radius: 50rem; 
    -moz-border-radius: 50rem; 
}
.song-search-bar > button {
    z-index: 5;
    position: absolute;
    height: 40px;
    width: 2.5rem;
    border: none;
    background-color: rgba(0, 0, 0, 0.5);
    border-top-left-radius: 50rem;
    border-bottom-left-radius: 50rem;

    display: flex;
    justify-content: center;
    align-items: center;
}
.song-search-bar > button > svg {
    color: white;
    width: 1.25rem;
}
.song-search-input {
    z-index: 1;
    
    width: 100%;
    padding: 0.5rem 1rem 0.5rem 3.25rem;

    color: white;
    background-color: transparent;
    font-family: var(--font-primary);
    font-weight: var(--font-primary-weight);
    border: none;

    font-size: 1rem;
    font-weight: 300;
}
.song-search-input:focus {
    outline: none;
}
.warning {
    border: white 3px solid;
    border-radius: 15px;

    background-color: rgba(255, 255, 255, 0.25);
    font-family: var(--font-primary);
    font-size: 12px;
    padding: 0.15em 0.75em;
    color: white;
    margin: 0.75em;

    width: 250px;
}
/* #endregion */

/* #region Song */
.song-unit {
    --song-width: 300px;
    --song-height: 90px;
    --song-padding: 0.75em;

    background-color: rgba(0, 0, 0, 0.4);
    color: var(--white-color);
    font-family: var(--font-primary);
    border-radius: 15px;
    line-height: normal;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-self: center;
    align-self: center;
    width: var(--song-width);
    height: var(--song-height);
    padding: var(--song-padding);
    text-align: left;

    position: relative;
}
a > .song-unit {
    box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
    transition: 0.15s;
}
a > .song-unit:hover {
    box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.5);
}
.artist-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0.25em;
    margin-right: 0.25em;
}
.song-title {
    font-weight: var(--font-primary-weight);
    font-size: 20px;
    margin-bottom: 0.1em;
}
.artist-title {
    font-weight: var(--font-secondary-weight);
    font-size: 14px;
}
.song-image-container {
    height: var(--song-image-size);
    width: var(--song-image-size);
}
.song-unit .card-img {
    --song-image-size: calc(var(--song-height) - 2 * var(--song-padding));
    height: var(--song-image-size);
    width: auto;
    border-radius: 5px;
}
/* #endregion */

/* #region Feature Dropdowns */
.feature-select-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 210px;
}
.feature-dropdowns {
    margin-top: 0em;
}
.hstack {
    flex-wrap: wrap;
    justify-content: center;

    width: 100%;
    column-gap: 3.5em;
    row-gap: 1.25em;
    margin: 0.5em 0px;
}
.feature-dropdown {
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 1.25rem;
    margin: 0;
    font-family: var(--font-primary);
    font-weight: var(--font-primary-weight);
    width: 125px;
    background-color: rgba(0, 0, 0, 0.35);
    color: white;
    cursor: pointer;
}
.feature-dropdown:active, .feature-dropdown:hover {
    background-color: rgba(0, 0, 0, 0.5);
}
.feature-select-container .warning {
    width: 200px;
}
/* #endregion */

/* #region TypeInDropdown */
@keyframes pulse {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: .5;
    }
};
.typeindropdown {
    z-index: 10;
    color: black;
}
.dropdown-container {
    position: relative;
}
.dropdown-text-container {
    text-align: center;
    display: block; 
    padding: 0.5rem; 
    background-color: transparent; 
    color: #ffffff; 
    font-size: 1.125rem;
    line-height: 1.75rem; 
    width: 100%; 
    appearance: none;
    outline: none;
    border: none;
}
.dropdown-text-container::placeholder {
    color: rgba(255, 255, 255, 0.8);
}
.dropdown-text-container:focus {
    outline: none;
}
.dropdown-line {
    position: absolute; 
    bottom: 0; 
    left: 0; 
    background-color: white; 
    width: 100%; 
    height: 0.125rem; 
}
.dropdown-text-container:focus + .dropdown-line {
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
.dropdown-text-box {
    position: absolute; 
    z-index: 10; 
    margin-top: 0.5rem; 
    background-color: #ffffff; 
    text-align: left; 
    width: 100%; 
    border-width: 1px; 
    border-color: #D1D5DB;

    height: auto;
    max-height: 100px;
    overflow-x: hidden;
    overflow-y: scroll;
}
/* #endregion */

/* #region Match Button */
.match {
    margin-top: 0em;
}
.action-button {
    position: relative;
    border: none;
    line-height: normal;

    height: 45px;
    width: 10rem;
    font-weight: 700;
    font-size: 2rem;
    font-family: var(--font-primary);

    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: var(--white-color);

    border-radius: var(--button-radius);
    -webkit-border-radius: var(--button-radius); 
    -moz-border-radius: var(--button-radius); 
    transition: 0.15s;
}
.action-button:hover {
    box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.5);
}
/* #endregion */

/* #region Screen Splits */
@media screen and (min-height: 701px) {
    .view-container {
        justify-content: center;
    }
}
/* #endregion */

/* #region Match Page */
.plus-container {
    margin: 1em;
}
.section-text {
    font-family: var(--font-primary);
    font-weight: 400;
    color: var(--white-color);
}
.mix-instructions-container {
    margin-top: 2em;
}
.mix-instructions-container .section-title {
    padding-bottom: 0em;
}
.results-page-container {
    height: 640px;
    padding-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.acapella-container {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}
.results-page-container .action-button {
    margin: 1.5em;
}
.playlist-add {
    border: rgba(0, 0, 0, 0.75) 3px solid;
    border-radius: 15px;

    background-color: rgba(0, 0, 0, 0.25);
    font-family: var(--font-primary);
    font-size: 12px;
    padding: 0.15em 0.75em;
    color: white;
    margin-top: 1em;

    width: 150px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* #endregion */

/* #region Mashups Page */
/* General */
.saved-mashups-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 640px;
    padding-top: 2em;
}
.mashups-container, #mashups-container {
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    
    gap: 0.5em;
}
.no-mashups-found-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 350px;
    width: 100%;
}
.no-mashups-found-container .section-text {
    width: 300px;
}
#table-container::-webkit-scrollbar, #mashups-container::-webkit-scrollbar {
    width: 5px;
}
#table-container::-webkit-scrollbar-thumb, #mashups-container::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
}
#table-container::-webkit-scrollbar-thumb:hover, #mashups-container::-webkit-scrollbar-thumb:hover {
    background-color: white;
}

/* Mashup Text */
.mashup-add-container {
    display: flex;
    gap: 0.5em;
    width: 400px;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 0.25em;
}
.mashup-unit {
    display: flex;
    background-color: rgba(0, 0, 0, 0.0);
    padding: 0.25em 0.5em;
    width: 350px;
    border: none;
}
.mashup-unit .song-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-x: hidden;
}
.mashup-unit .song-title {
    font-family: var(--font-primary);
    line-height: normal;
    color: white;
    white-space: nowrap;
}
.mashup-unit .artist-title {
    font-family: var(--font-primary);
    color: white;
    line-height: normal;
    font-size: 18px;
    white-space: nowrap;
}
.mashup-unit hr {
    margin: 0.25em 2em;
    color: white;
    height: 2px;
}

/* Mashup Buttons */
.mashup-action-button-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 0.15em;
}
.mashup-action-button {
    height: 30px;
    width: 50px;
    border: none;
    border-radius: 0.65em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.15em;
    cursor: pointer;
}

/* Loading */
.loader-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 100%;
}
/* #endregion */

/* #region MyxPath Page */
.mix-path-page-content {
    display: flex;
    justify-content: center;
    gap: 2em;
}
.mix-path-page-content > * {
    width: 400px;
}
.select-playlist-container {
    display: flex;
    gap: 1em;
    justify-content: center;
    align-items: center;
}
.mix-path-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}
.mix-path-loading {
    display: flex;
    justify-content: center;
    align-items: center;
}
.h-300 {
    height: 300px;
}
.mix-path-song-select {
    width: 300px;
}
/* #endregion */

/* #region MixPathTable */
.table-container {
    display: block;
    margin-top: 10px;
    max-height: 450px;
    overflow-y: auto;
}
table {
    height: auto;
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    background-color: transparent;
    font-size: 14px;
    color: white;
    table-layout: fixed;
    width: 400px;
}
thead th {
    background-color: rgba(0, 0, 0, 0.4);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding: 10px;
    text-align: left;
}
thead th:first-child {
    border-top-left-radius: 10px;
}
thead th:last-child {
    border-top-right-radius: 10px;
}
tbody {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
tbody tr {
    height: 25px !important;
}
td, th {
    overflow: hidden; 
    text-overflow: ellipsis;
    vertical-align: top;
    text-align: left;
    padding: 10px;
    word-wrap: break-word;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
tbody tr:last-child > td {
    border-bottom: none;
}
tbody tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.2);
}
tbody tr:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.3);
}
tbody tr:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
tbody tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}
tbody tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}
.col-small {
    width: 14%;
}
.col-large {
    width: 24%;
}
/* #endregion */

/* #region Login Page */
.login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 700px;
    width: 400px;
}
.spotify-auth-button {
    background-color: #1DB954;
    font-weight: bold;
    color: #191414;
    
    padding: 0.75em 1em;
    border-radius: 2em;
    text-align: center;
    text-decoration: none;
    border: #1DB954 2px solid;

    display: flex;
    justify-self: center;
    align-items: center;
    gap: 1em;
    margin: 2em 0px;

    transition: 0.15s;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.spotify-auth-button:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}
.spotify-button-text {
    font-family: var(--font-primary);
    font-size: 1rem;
}
.spotify-icon {
    height: 2rem;
    width: 2rem;
}
/* #endregion */

/* #region Home Page */
.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 700px;
    width: 400px;
}
.page-navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 2em;
    margin: 2em 0px;
    width: 100%;
}
.page-navigation .nav-item {
    font-family: var(--font-primary);
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    border: 2px solid white;
    transition: 0.15s;
    cursor: pointer;
    width: 275px;

    position: relative;
    border: none;
    line-height: normal;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: var(--white-color);

    border-radius: var(--button-radius);
    -webkit-border-radius: var(--button-radius); 
    -moz-border-radius: var(--button-radius); 
    transition: 0.15s;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5em;
}
.page-navigation .nav-item:hover {
    box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.5);
}
.page-navigation .nav-icon {
    height: 1.75rem;
    width: 1.75rem;
}
/* #endregion */