/* #region Google Fonts Imports */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
/* #endregion */

/* #region General */
:root {
    --black-color: #1B1B1B;
    --white-color: #E9E9E9;
    --gradient-color: linear-gradient(180deg, #274AA6 0%, #9B19A7 45.83%, #DC3636 100%);

    --font-primary: 'Space Grotesk', sans-serif;
    
    --font-primary-size: 5rem;
    --font-primary-weight: 700;
    --font-secondary-weight: 400;

    --side-padding: 10vw;
    --button-sizing: 50px;
    --button-radius: 15px;

    --dropdown-radius:
}
.view-container {
    width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4em 0px;
}
.section-title {
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--white-color);
    font-family: var(--font-primary);
    line-height: normal;
    padding: 0.5em 0px;
}
a {
    text-decoration: none;
}
/* #endregion */

/* #region Header */
.header {
    height: 50px;
    justify-content: center;
    width: 100%;
}
.header img {
    height: 50px;
    width: auto;
}
/* #endregion */

/* #region Search */
.song-select-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 250px;
}
.song-select {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-bottom: 1em;
}
.song-search-bar {
    display: inline-flex;
    align-items: center;

    position: relative;
    height: 40px;

    background-color: rgba(0, 0, 0, 0.35);
    border: 1px solid black;
    border-radius: 50rem;
    -webkit-border-radius: 50rem; 
    -moz-border-radius: 50rem; 
}
.song-search-bar > button {
    z-index: 5;
    position: absolute;
    height: 40px;
    width: 2.5rem;
    border: none;
    background-color: rgba(0, 0, 0, 0.5);
    border-top-left-radius: 50rem;
    border-bottom-left-radius: 50rem;

    display: flex;
    justify-content: center;
    align-items: center;
}
.song-search-bar > button > svg {
    color: white;
    width: 1.25rem;
}
.song-search-input {
    z-index: 1;
    
    width: 100%;
    padding: 0.5rem 1rem 0.5rem 3.25rem;

    color: white;
    background-color: transparent;
    font-family: var(--font-primary);
    font-weight: var(--font-primary-weight);
    border: none;

    font-size: 1rem;
    font-weight: 300;
}
.song-search-input:focus {
    outline: none;
}
.warning {
    border: white 3px solid;
    border-radius: 15px;

    background-color: rgba(255, 255, 255, 0.25);
    font-family: var(--font-primary);
    font-size: 12px;
    padding: 0.15em 0.75em;
    color: white;
    margin: 0.75em;

    width: 250px;
}
/* #endregion */

/* #region Song */
.song-unit {
    --song-width: 300px;
    --song-height: 90px;
    --song-padding: 0.75em;

    background-color: rgba(0, 0, 0, 0.4);
    color: var(--white-color);
    font-family: var(--font-primary);
    border-radius: 15px;
    line-height: normal;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-self: center;
    align-self: center;
    width: var(--song-width);
    height: var(--song-height);
    padding: var(--song-padding);
    text-align: left;

    box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
    transition: 0.15s;

    position: relative;
}
.song-unit:hover {
    box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.5);
}
.artist-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0.25em;
    margin-right: 0.25em;
}
.song-title {
    font-weight: var(--font-primary-weight);
    font-size: 20px;
    margin-bottom: 0.1em;
}
.artist-title {
    font-weight: var(--font-secondary-weight);
    font-size: 14px;
}
.song-image-container {
    height: var(--song-image-size);
    width: var(--song-image-size);
}
.song-unit .card-img {
    --song-image-size: calc(var(--song-height) - 2 * var(--song-padding));
    height: var(--song-image-size);
    width: auto;
    border-radius: 5px;
}
/* #endregion */

/* #region Feature Dropdowns */
.feature-select-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 210px;
}
.feature-dropdowns {
    margin-top: 0em;
}
.hstack {
    flex-wrap: wrap;
    justify-content: center;

    width: 100%;
    column-gap: 3.5em;
    row-gap: 1.25em;
    margin: 0.5em 0px;
}
.feature-dropdown {
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 1.25rem;
    margin: 0;
    font-family: var(--font-primary);
    font-weight: var(--font-primary-weight);
    width: 125px;
    background-color: rgba(0, 0, 0, 0.35);
    color: white;
    cursor: pointer;
}
.feature-dropdown:active, .feature-dropdown:hover {
    background-color: rgba(0, 0, 0, 0.5);
}
.feature-select-container .warning {
    width: 200px;
}
/* #endregion */

/* #region Match Button */
.match {
    margin-top: 0em;
}
.action-button {
    position: relative;
    border: none;
    line-height: normal;

    height: 45px;
    width: 10rem;
    font-weight: 700;
    font-size: 2rem;
    font-family: var(--font-primary);

    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: var(--white-color);

    border-radius: var(--button-radius);
    -webkit-border-radius: var(--button-radius); 
    -moz-border-radius: var(--button-radius); 
    transition: 0.15s;
}
.action-button:hover {
    box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.5);
}
/* #endregion */

/* #region Screen Splits */
@media screen and (min-height: 701px) {
    .view-container {
        justify-content: center;
    }
}
/* #endregion */

/* #region Match Page */
.plus-container {
    margin: 1em;
}
.section-text {
    font-family: var(--font-primary);
    font-weight: 400;
    color: var(--white-color);
}
.mix-instructions-container {
    margin-top: 2em;
}
.mix-instructions-container .section-title {
    padding-bottom: 0em;
}
.results-page-container {
    height: 640px;
    padding-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.acapella-container {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}
.results-page-container .action-button {
    margin: 1.5em;
}
.playlist-add {
    border: rgba(0, 0, 0, 0.75) 3px solid;
    border-radius: 15px;

    background-color: rgba(0, 0, 0, 0.25);
    font-family: var(--font-primary);
    font-size: 12px;
    padding: 0.15em 0.75em;
    color: white;
    margin-top: 1em;

    width: 150px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* #endregion */


/* #region Mashups Page */
.saved-mashups-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 640px;
    padding-top: 2em;
}
.mashups-container {
    height: 300px;
    width: 100%;
    overflow-y: scroll;
}
/* #endregion */

/* #region Login Page */
.login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 640px;
    width: 400px;
    padding-top: 2em;
}
.spotify-auth-button {
    background-color: #1DB954;
    font-weight: bold;
    color: #191414;
    
    padding: 0.75em 1em;
    border-radius: 2em;
    text-align: center;
    text-decoration: none;
    border: #1DB954 2px solid;

    display: flex;
    justify-self: center;
    align-items: center;
    gap: 1em;
    margin: 2em 0px;

    transition: 0.15s;
}
.spotify-auth-button:hover {
    border: #191414 2px solid;
}
.spotify-button-text {
    font-family: var(--font-primary);
    font-size: 1rem;
}
.spotify-icon {
    height: 2rem;
    width: 2rem;
}
/* #endregion */