@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

:root {
  --black-color: #1B1B1B;
  --white-color: #E9E9E9;
  --gradient-color: linear-gradient(180deg, #274AA6 0%, #9B19A7 45.83%, #DC3636 100%);

  --font-primary: 'Space Grotesk', sans-serif;
  
  --font-primary-size: 5rem;
  --font-primary-weight: 700;
  --font-secondary-weight: 400;

  --side-padding: 10vw;
  --button-sizing: 50px;
  --button-radius: 15px;
}

.App {
  text-align: center;
  background: linear-gradient(180deg, #274AA6 0%, #9B19A7 45.83%, #DC3636 100%);
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page-title {
  font-weight: 700;
  font-size: 2.6rem;
  color: var(--white-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: var(--font-primary);
  margin: 0.5em 0px 0.5em 0px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.nav-button-group {
  margin-top: 25px;
  width: 350px;
}

.btn-primary, .btn-primary:focus {
  background-color: rgba(0, 0, 0, 0.35) !important;
  border-color: rgba(0, 0, 0, 0.35) !important;
  color: white;
  box-shadow: none !important;
}

.nav-button-group > .btn-check:checked + .btn-primary, .nav-button-group > .btn-check:active + .btn-primary, .nav-button-group > .btn-primary:active, 
.nav-button-group > .btn-primary.active, .nav-button-group > .show > .btn-primary.dropdown-toggle {
  background-color: rgba(0, 0, 0, 0.65) !important;
  border-color: rgba(0, 0, 0, 0.65) !important;
  color: white;
  box-shadow: none !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (min-height: 701px) {
    .App {
      height: 100vh;
    }
}
